process {
    executor = 'lsf'
}

executor.perJobMemLimit = true

plugins {
    id 'nf-co2footprint@1.0.0-beta' // carbon footprint plugin
}


params {
    publish_dir_mode = 'copy'
    exploratory_main_variable = 'contrasts'
}

// additional local genomes
params {
    genomes {
        "hg19_local" {
            fasta            = "/juno/bic/depot/assemblies/H.sapiens/hg19/hg19.fasta"
            gtf              = "/juno/bic/depot/annotation/H.sapiens/gencode/v46lift37/gencode.v46lift37.annotation.gtf"
            transcript_fasta = "/juno/bic/depot/annotation/H.sapiens/gencode/v46lift37/gencode.v46lift37.transcripts.fa"
            mito_name        = "chrM"
            macs_gsize       = "2.7e9"
        }
        "hg38_local" {
            fasta            = "/juno/bic/depot/assemblies/H.sapiens/hg38/hg38.fasta"
            gtf              = "/juno/bic/depot/annotation/H.sapiens/gencode/v46/gencode.v46.annotation.gtf"
            transcript_fasta = "/juno/bic/depot/annotation/H.sapiens/gencode/v46/gencode.v46.transcripts.fa"
            macs_gsize       = "2.9e9"
        }
        "hg19_cloud" {
            fasta       = "s3://bictestbucket/reference/hg19/hg19.fasta"
            gtf         = "s3://bictestbucket/reference/hg19/anno/Homo_sapiens.gencode.v18.annotation.gtf"
            mito_name   = "chrM"
            macs_gsize  = "2.7e9"
        }
        "mm10_local" {
            fasta            = "/juno/bic/depot/assemblies/M.musculus/mm10/mm10.fasta"
            gtf              = "/juno/bic/depot/annotation/M.musculus/gencode/vM23/gencode.vM23.annotation.gtf"
            transcript_fasta = "/juno/bic/depot/annotation/M.musculus/gencode/vM23/gencode.vM23.transcripts.fa"
            mito_name        = "chrM"
            macs_gsize       = "2.6e9"
        }
        "mm39_local" {
            fasta            = "/juno/bic/depot/assemblies/M.musculus/mm39/mm39.fa"
            gtf              = "/juno/bic/depot/annotation/M.musculus/gencode/vM36/gencode.vM36.annotation.gtf"
            transcript_fasta = "/juno/bic/depot/annotation/M.musculus/gencode/vM36/gencode.vM36.transcripts.fa"
            mito_name        = "chrM"
            macs_gsize       = "2.7e9"
        }
    }
}

// JOB OUTPUT info

process {
    withName: DESEQ2_NORM {
        ext.prefix = { "${meta.variable}" }
    }

    withName: '.*:BIC_PLOTS:CREATE_SAMPLE_KEY' {
        publishDir = [
                enabled: false
            ]
    }

    withName: '.*:BIC_PLOTS:CREATE_GENE_MAP' {
        publishDir = [
                enabled: false
            ]
    }

    withName: '.*:BIC_PLOTS:HEATMAP' {
        publishDir = [
            [
                path: { "${params.outdir}/plots/differential" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }

    withName: '.*:BIC_PLOTS:SAMPLE_TO_SAMPLE_DISTANCE' {
        publishDir = [
            [
                path: { "${params.outdir}/plots/exploratory" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }

    withName: '.*:BIC_PLOTS:MDS_CLUSTERING' {
        publishDir = [
            [
                path: { "${params.outdir}/plots/exploratory" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }

    withName: '.*:BIC_PLOTS:PC_LOADING' {
        publishDir = [
            [
                path: { "${params.outdir}/plots/exploratory" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }

    withName: GSEA_GSEA_PRERANKED {
        ext.prefix = { "${meta.id}.${gene_sets.baseName}." }
        publishDir = [
            [
                path: { "${params.outdir}/report/gsea/${meta.id}/${gene_sets.baseName}" },
                mode: params.publish_dir_mode,
                pattern: '*.{html,zip,png,tsv,rpt}'
            ]
        ]
    }

    withName: PREFORMAT_INPUT {
        publishDir = [
            enabled: false
        ]
    }

    withName: MOVE_INPUT_FILES {
        publishDir = [
            [
                path: { "${params.outdir}/project_files"},
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }
}